@import url('https://fonts.googleapis.com/css?family=Karla|Roboto');

@font-face {
  font-family: 'BebasNeue';
  src: url('./BebasNeue.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SFUIDisplay';
  src: url('./SFDisplay-Light.otf');
  font-weight: normal;
  font-style: normal;
}
